<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bullying</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="datos/Estudiante.hbm.xml"/>
    <mapping resource="datos/Paralelo.hbm.xml"/>
    <mapping resource="datos/Alerta.hbm.xml"/>
    <mapping resource="datos/Director.hbm.xml"/>
    <mapping resource="datos/Unidadeducativa.hbm.xml"/>
    <mapping resource="datos/Prueba.hbm.xml"/>
    <mapping resource="datos/Curso.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
